* {
  box-sizing: border-box;
}

.nav-custom {
  position: relative;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffffef;
  box-shadow: 10px 10px 10px 0px #0000001a;
  width: 100vw !important;
  padding-top: 70px !important;
  padding-bottom: 10px !important ;
  margin-top: -100px !important;
  /* margin-bottom: 100px !important; */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  /* padding: 50, 50, 0, 0; */
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 15px !important;
  color: #1b1b1b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70vw;
  padding-top: 70px;
  padding-bottom: 5px;
}

.nav-item {
  position: relative; /* Establishes a positioning context for the pseudo-element */
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  padding-right: 20px;
  text-align: center;
}

.home-link:hover {
  text-decoration: underline; /* Underline text on hover for specific items */
  color: #6f6f6f; /* Optionally, change the text color on hover */
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
.about-link:hover {
  text-decoration: underline; /* Underline text on hover for specific items */
  color: #6f6f6f; /* Optionally, change the text color on hover */
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
.contact-link:hover {
  text-decoration: underline; /* Underline text on hover for specific items */
  color: #6f6f6f; /* Optionally, change the text color on hover */
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
.service-link:hover {
  text-decoration: underline; /* Underline text on hover for specific items */
  color: #6f6f6f; /* Optionally, change the text color on hover */
  transition: text-decoration 0.3s ease, color 0.3s ease;
}
